<!-- mysite/events/templates/events/calendar.html -->
{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <div id="calendar"></div>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: [
                    {% for event in events %}
                    {
                        title: '{{ event.title }}',
                        start: '{{ event.start }}',
                        end: '{{ event.end }}',
                        color: '{{ event.color }}',
                        url: '{{ event.url }}'
                    },
                    {% endfor %}
                ],
                eventRender: function(event, element) {
                    element.find('.fc-time').remove();
                },
                dayClick: function(date, jsEvent, view) {
                    window.location.href = "{% url 'add_event' %}?date=" + date.format();
                }
            });
        });
    </script>
{% endblock %}