/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav form {
    display: inline;
}

nav {
    display: flex;
    align-items: center;
}

.logout {
    margin-left: auto;
}

button {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

main {
    padding: 1rem;
    padding-bottom: 7rem; /* フッターの高さ分のパディングを追加 */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-top: 1rem;
}

form button {
    margin-top: 1rem;
}

a {
    display: inline-block;
    margin-top: 1rem;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-detail {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-detail h1, .event-detail h2 {
    margin-bottom: 1rem;
}

.event-detail p {
    margin: 0.5rem 0;
}

.event-detail ul {
    list-style-type: none;
    padding: 0;
}

.event-detail ul li {
    background-color: #f9f9f9;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.event-detail a {
    margin-right: 1rem;
}